<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Backend/etc/menu.xsd">
    <menu>
        <!-- <add id="Lucy09Alex_Employ::menu" title="Employ" module="Lucy09Alex_Employ" sortOrder="10" resource="Lucy09Alex_Employ::Employ_menu"/>

        <add id="Lucy09Alex_Employ::Employ_submenu" title="Manage Employ" module="Lucy09Alex_Employ" sortOrder="20" parent="Lucy09Alex_Employ::menu" action="emp/index/index" resource="Lucy09Alex_Employ::Employ_submenu"/> -->

        <add id="Lucy09Alex_Employ::Employ_menu" title="Employ" module="Lucy09Alex_Employ" sortOrder="100" parent="Magento_Sales::sales" resource="Lucy09Alex_Employ::Employ_menu" />

        <add id="Lucy09Alex_Employ::Employ_submenu" title="Manage Employ" module="Lucy09Alex_Employ" sortOrder="20" parent="Lucy09Alex_Employ::Employ_menu" action="emp/index/index/" resource="Lucy09Alex_Employ::Employ_submenu"/>

        <add id="Lucy09Alex_Employ::Employ_Config" title="Employ Config" module="Lucy09Alex_Employ" sortOrder="20" parent="Lucy09Alex_Employ::Employ_menu" action="admin/system_config/edit/section/emp_config/" resource="Lucy09Alex_Employ::Employ_config"/>
    </menu>
</config>